* {
    margin: 0;
    padding: 0;
    color: white;
    text-rendering: optimizelegibility;
}
html {
    height: 100%;
}
body {
    height: 100%;
    text-align: center;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: black;
}
    body::before {
        height: 100%;
        vertical-align: middle;
        display: inline-block;
        content: '';
    }
    div {
        display: inline-block;
        vertical-align: middle;
        width: 80%;
        text-align: left;
    }
    h1 {
        font-size: 120px;
        letter-spacing: -5px;
        line-height: 120px;
    }
    h2 {
        font-size: 80px;
        letter-spacing: -1px;
    }
    p {
        font-size: 32px;
        font-family: Georgia, serif;
        font-style: italic;
        font-size: 60px;
    }
    ul {
        list-style-type: none;
        margin-top: 50px;
    }
    li {
        display: inline-block;
        margin-right: 100px;
    }
    a {
        text-decoration: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }
    a:hover {
        border-bottom: 1px solid white;
    }
